/*
* JqSetps
*/

.jqs, .jqs * {
  box-sizing: border-box;
}

.jqs {
  font-family: arial;
  width: 100%;
}
.jqs .jqs-steps {
  display: block;
  float: left;
  list-style-type: none;
  margin: 0;
  width: 100%;
  padding: 0;
}

.jqs .jqs-steps li {
  float: left;
  text-align: center;
}

.jqs .jqs-steps li.jq-step-last {
  border-right: none;
}

.jqs .jqs-steps li.no-border .jqs-step-btn{
  border-right: none;
}

.jqs .jqs-steps li .jqs-step-btn {
  position: relative;
  line-height: 40px;
  background: #eeeeee;
  cursor: pointer;
  padding-left: 13px;
  border: 1px solid #999;
  color: #999999;
}

.jqs .jqs-steps li.jqs-active .jqs-step-btn {
  background: #eef7fb;
  transition: 0.4s background;
  border: 1px solid #3a87ad;
  color: #3a87ad;
}

.jqs .step-title {
  padding-left: 17px;
}

.jqs .jqs-steps li.jqs-active .jqs-step-btn .step-indicator {
  background: #3a87ad;
}

.jqs .jqs-step-content {
  display: none;
}

.jqs .step-indicator {
  display: block;
  position: absolute;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  top: 0;
  bottom: 0;
  margin: auto 0 auto 15px;
  background: #666;
  font-weight: bold;
}

.jqs .jq-steps-arrow {
  position: absolute;
  height: 20px;
  top: 0;
  right: -16px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 15px solid #999;
  z-index: 1;
}

.jqs .jq-steps-arrow::after {
  content: "";
  position: absolute;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 15px solid #eee;
  top: -20px;
  z-index: 2;
  left: -16px;
}

.jqs .jqs-steps li.jqs-active .jqs-step-btn .jq-steps-arrow::after {
  border-left-color: #eef7fb;
}

.jqs .jqs-steps li.jqs-active .jqs-step-btn .jq-steps-arrow {
  border-left-color: #3a87ad;
}

.jqs .jqs-content {
  position: relative;
  clear: both;
  float: left;
  width: 100%;
  min-height: 300px;
  background: #fff;
  border: 1px solid #999;
  border-top: none;
  padding: 10px;
}

.jqs .jqs-step-content {
  float: left;
  width: 100%;
  min-height: 300px;
}

@keyframes jqs-enter {
  0% {

  }
}

@media(max-width: 700px) {
  .jqs .jqs-content {
    border-top: 1px solid #999;
  }

  .jqs .jqs-steps {
    display: none;
  }
}