/*
* JqSetps
*/

.jqs, .jqs * {
  box-sizing: border-box;
}

.jqs {
  font-family: arial;
  width: 100%;
}
.jqs .jqs-steps {
  display: block;
  float: left;
  list-style-type: none;
  margin: 0;
  width: 100%;
  padding: 0;
}

.jqs .jqs-steps li {
  float: left;
}

.jqs .jqs-steps li.jq-step-last {
  border-right: none;
}

.jqs .jqs-steps li.no-border .jqs-step-btn{
  border-right: none;
}

.jqs .jqs-steps li .jqs-step-btn {
  position: relative;
  height: 42px;
  line-height: 40px;
  background: #eeeeee;
  cursor: pointer;
  padding-left: 13px;
  border: 1px solid #999;
  color: #999999;
  border-left: none;
  font-weight: bold;
}

.jqs .jqs-steps li.jqs-active .jqs-step-btn {
  background: #fcbf45;
  transition: 0.4s background;
  color: #04214c;
}

.jqs .step-title {
  padding-left: 24px;
  text-transform: uppercase;
  font-size: 13px;
  border-right: 3px solid #04214c;
  padding-right: 7px;
  display: block;
  float: left;
  line-height: 22px;
  margin-top: 10px;
  width: 100%;
}

.jqs .jqs-steps li.jqs-active .jqs-step-btn .step-indicator {
  color: #04214c;
}

.jqs .jqs-steps li.jqs-active .jqs-step-btn .step-title {
  color: #04214c;
}

.jqs .jqs-step-content {
  display: none;
}

.jqs .step-indicator {
  display: block;
  position: absolute;
  color: #000;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  font-size: 22px;
  line-height: 21px;
  top: 0;
  bottom: 0;
  margin: auto 0 auto 0;
  font-weight: bold;
}

.jqs .jqs-content {
  position: relative;
  clear: both;
  float: left;
  width: 100%;
  min-height: 300px;
  background: #fff;
  border: 1px solid #999;
  border-top: none;
  padding: 10px;
}

.jqs .jqs-step-content {
  float: left;
  width: 100%;
  min-height: 300px;
}

@keyframes jqs-enter {
  0% {

  }
}

@media(max-width: 700px) {
  .jqs .jqs-content {
    border-top: 1px solid #999;
  }

  .jqs .jqs-steps {
    display: none;
  }
}