/*
* JqSetps
*/

.jqs, .jqs * {
  box-sizing: border-box;
}

.jqs {
  font-family: arial;
  width: 100%;
  float: left;
  box-shadow: 0 11px 50px 0px rgba(0, 0, 0, 0.4);
}
.jqs .jqs-steps {
  display: block;
  float: left;
  list-style-type: none;
  margin: 0;
  width: 100%;
  padding: 0;
}

.jqs .jqs-steps li {
  position: relative;
  float: left;
  padding-right: 2px;
  padding-bottom: 4px;
}

.jqs .jqs-steps li.jq-step-last {
  padding-right: 0;
}

.jqs .jqs-steps li.no-border .jqs-step-btn{
  border-right: none;
}

.jqs .jqs-steps li .jqs-step-btn {
  position: relative;
  height: 42px;
  line-height: 40px;
  background: #eeeeee;
  cursor: pointer;
  padding-left: 13px;
  color: #999999;
  font-weight: bold;
}

.jqs .jqs-steps li.jqs-active .jqs-step-btn {
  background: #fcbf45;
  transition: 0.4s background;
  color: #04214c;
}

.jqs .step-title {
  padding-left: 24px;
  text-transform: uppercase;
  font-size: 13px;
  padding-right: 7px;
  display: block;
  float: left;
  line-height: 22px;
  margin-top: 10px;
  width: 100%;
}

.jqs .step-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 3px solid #8792a3;
  height: 25px;
  margin: auto;
  margin-right: 5px;
  width: 23px;
  right: 5px;

  img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #8792a3;
    padding: 5px;
    border-radius: 100%;
  }
}

.jqs .jqs-steps li.jqs-active .step-arrow {
  border-left: 3px solid #04214c;

  img {
    background: #04214c;
  }
}

.jqs .jqs-steps li.jqs-active .jqs-step-btn .step-indicator {
  color: #04214c;
}

.jqs .jqs-steps li.jqs-active .jqs-step-btn .step-title {
  color: #04214c;
}

.jqs .jqs-step-content {
  display: none;
}

.jqs .step-indicator {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  font-size: 22px;
  line-height: 21px;
  top: 0;
  bottom: 0;
  margin: auto 0 auto 0;
  font-weight: bold;
}

.jqs .jqs-content {
  position: relative;
  clear: both;
  float: left;
  width: 100%;
  min-height: 300px;
  background: #fff;
  border-top: none;
  padding: 0;
}

.jqs .jqs-step-content {
  float: left;
  width: 100%;
  min-height: 300px;
}

@keyframes jqs-enter {
  0% {

  }
}

@media(max-width: 733px) {
  .jqs .jqs-content {
    border-top: 1px solid #999;
  }

  .jqs .jqs-steps {
    display: none;
  }
}