<div class="widget-generator container-fluid text">
	<h3 class="step-header">Step 4 - <span>Generate & Checkout</span></h3>
	<div class="step-body">
		<div class="row">
			<div class="cg-xs-12 text-center">
				<div class="generated hidden">
					<p class="generated-text">
						Your numbers has generated! checkout now with your lottery provider
					</p>
					<a href="" class="btn generated-top btn-custom1 checkout-now generate-btn">Checkout</a>
				</div>
			</div>
			<div class="cg-xs-12">
				<div id="draws"></div>
			</div>
			<div class="cg-xs-12 text-center">
				<div class="generating">
					<div class="loading-text text-center"><strong>Please Wait</strong> while our algorithm is generating numbers</div>
					<div class="spinner">
						<div class="bounce1"></div>
						<div class="bounce2"></div>
						<div class="bounce3"></div>
					</div>
				</div>
				<div class="generated hidden">
					<a href="" class="btn btn-custom1 checkout-now generate-btn">Checkout</a>
				</div>
				<div class="input-group checkout-loading hidden">
					<div class="cg-xs-12">
						<div class="loading-text text-center"><strong>Please Wait</strong> Numbers is being added to your cart!</div>
						<div class="spinner">
							<div class="bounce1"></div>
							<div class="bounce2"></div>
							<div class="bounce3"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>