<div class="widget-generator container-fluid text">
	<h3 class="step-header">{{= trans('STEP 4') }} - <span>{{= trans('Generate & Checkout') }}</span></h3>
	<div class="step-body">
		<div class="row">
			<div class="cg-xs-12">
				<div id="draws"></div>
			</div>
			<div class="cg-xs-12 text-center">
				<div class="generating">
					<div class="loading-text text-center"><strong>{{= trans('Please Wait') }}</strong> {{= trans('While our algorithm is generating numbers') }}</div>
					<div class="spinner">
						<div class="bounce1"></div>
						<div class="bounce2"></div>
						<div class="bounce3"></div>
					</div>
				</div>
				<div class="checkout-loading hidden animated bounceIn">
					<div class="loading-text text-center"><strong>{{= trans('Please Wait') }}</strong> {{= trans('Numbers are being added to your cart') }}</div>
					<div class="spinner">
						<div class="bounce1"></div>
						<div class="bounce2"></div>
						<div class="bounce3"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>