<div class="widget-strategy-selector container-fluid text">
	<h3 class="step-header">{{= trans('STEP 2') }} - <span>{{= trans('Choose Your Strategy') }}</span></h3>
	<div class="step-body">
		<div class="owl-carousel owl-theme strategy-box-container">
			<div class="strategy-box">
				<div class="row">
					<div class="cg-md-6  cg-xs-12">
						<h3 class="strategy-title text-center">{{= trans('Lotto Analytic') }}</h3>
						<p>
							{{= trans('Lotto Analysis is smart strategy that checks for recent numbers that haven't been won yet or numbers that has low frequency of winning and will likely be picked in the next lottery' }}
						</p>
						<strong>
							{{= trans('Note: You don't need to understand exactly how the strategy works, we have calculated for you the recommended settings') }}
						</strong>
					</div>
					<div class="cg-md-6  cg-xs-12">
						<h3 class="strategy-title text-center">{{= trans('Settings') }}</h3>
						<form action="" class="widget-form">
							<div class="input-group">
								<div class="cg-xs-12">
									<label for="analytic-depth">{{= trans('Analyses Depth') }}</label>
									<select name="draws-count" id="analytic-depth" class="input-control">
										<option value="3">{{= trans('1 Month') }}</option>
										<option value="3" selected="selected">{{= trans('3 Months - Recommended') }}</option>
										<option value="5">{{= trans('6 Months') }}</option>
									</select>
								</div>
							</div>
							<div class="input-group">
								<div class="cg-xs-12">
									<label for="analytic-depth">{{= trans('Max Analyzed Lotteries') }}</label>
									<select name="draws-count" id="max-analyzed" class="input-control">
										<option value="3">{{= trans('1,000') }}</option>
										<option value="3" selected="selected">{{= trans('3,000 - Recommended') }}</option>
										<option value="5">{{= trans('5,000') }}</option>
									</select>
								</div>
							</div>
							<div class="input-group form-buttons">
								<div class="cg-xs-12">
									<button type="button" class="btn btn-custom1 choose-strategy-btn wide" data-strategy="lotto-analytic">{{= trans('Choose Strategy') }}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="strategy-box">
				<div class="row">
					<div class="cg-md-6  cg-xs-12">
						<h3 class="strategy-title text-center">{{= trans('Wheeling System') }}</h3>
						<p>
							{{= trans('Wheeling System is smart strategy that uses most common numbers that has won the jackpot including an special algorithm which calculate numbers with the best chance of wining in the next lottery it uses the lottery date and has special settings to maximize chance') }}
						</p>
						<strong>
							{{= trans('Note: You don't need to understand exactly how the strategy works, we have calculated for you the recommended settings') }}
						</strong>
					</div>
					<div class="cg-md-6  cg-xs-12">
						<h3 class="strategy-title text-center">{{= trans('Settings') }}</h3>
						<form action="" class="widget-form">
							<div class="input-group">
								<div class="cg-xs-12">
									<label for="analytic-depth">{{= trans('Depth') }}</label>
									<select name="draws-count" id="analytic-depth" class="input-control">
										<option value="3">{{= trans('1 Month') }}</option>
										<option value="3" selected="selected">{{= trans('3 Months - Recommended') }}</option>
										<option value="5">{{= trans('6 Months') }}</option>
									</select>
								</div>
							</div>
							<div class="input-group">
								<div class="cg-xs-12">
									<label for="analytic-depth">{{= trans('Common Percentage') }}</label>
									<select name="draws-count" id="max-analyzed" class="input-control">
										<option value="3">{{= trans('40%') }}</option>
										<option value="3" selected="selected">{{= trans('60% - Recommended') }}</option>
										<option value="5">{{= trans('80%') }}</option>
									</select>
								</div>
							</div>
							<div class="input-group form-buttons">
								<div class="cg-xs-12">
									<button type="button" class="btn btn-custom1 choose-strategy-btn wide" data-strategy="wheeling-system">{{= trans('Choose Strategy') }}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="strategy-box">
				<div class="row">
					<div class="cg-md-6  cg-xs-12">
						<h3 class="strategy-title text-center">{{= trans('Birthday') }}</h3>
						<p>
							{{= trans('Birthday strategy is all about luck, making picking random personal dates includes our picking algorithm creates your own personal lucky numbers') }}
						</p>
						<strong>
							{{= trans('Note: Your own birthday will also be used to send you gifts in your birthday!') }}
						</strong>
					</div>
					<div class="cg-md-6  cg-xs-12">
						<h3 class="strategy-title text-center">{{= trans('Settings') }}</h3>
						<form action="" class="widget-form">
							<div class="input-group">
								<div class="cg-xs-12">
									<label for="years">{{= trans('Your Birthday') }}</label>
									<div class="row">
										<div class="cg-xs-4">
											<select name="years" id="years" class="input-control">
												<option>{{= trans('Year') }}</option>
											</select>
										</div>
										<div class="cg-xs-4">
											<select name="months" id="months" class="input-control">
												<option>{{= trans('Month') }}</option>
											</select>
										</div>
										<div class="cg-xs-4">
											<select name="days" id="days" class="input-control">
												<option>{{= trans('Day') }}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="input-group">
								<div class="cg-xs-12">
									<label for="years">{{= trans('Personal Date 1') }}</label>
									<div class="row">
										<div class="cg-xs-4">
											<select name="years" id="years" class="input-control">
												<option>{{= trans('Year') }}</option>
											</select>
										</div>
										<div class="cg-xs-4">
											<select name="months" id="months" class="input-control">
												<option>{{= trans('Month') }}</option>
											</select>
										</div>
										<div class="cg-xs-4">
											<select name="days" id="days" class="input-control">
												<option>{{= trans('Day') }}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="input-group">
								<div class="cg-xs-12">
									<label for="years">{{= trans('Personal Date 2') }}</label>
									<div class="row">
										<div class="cg-xs-4">
											<select name="years" id="years" class="input-control">
												<option>{{= trans('Year') }}</option>
											</select>
										</div>
										<div class="cg-xs-4">
											<select name="months" id="months" class="input-control">
												<option>{{= trans('Month') }}</option>
											</select>
										</div>
										<div class="cg-xs-4">
											<select name="days" id="days" class="input-control">
												<option>{{= trans('Day') }}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="input-group form-buttons">
								<div class="cg-xs-12">
									<button type="button" class="btn btn-custom1 choose-strategy-btn wide" data-strategy="wheeling-system">{{= trans('Choose Strategy') }}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>