<div class="widget-strategy-selector container-fluid text">
	<h3 class="step-header">STEP 2 - <span>Choose Your Strategy</span></h3>
	<div class="step-body">
		<div class="owl-carousel owl-theme strategy-box-container">
			<div class="strategy-box">
				<div class="row">
					<div class="cg-md-6  cg-xs-12">
						<h3 class="strategy-title text-center">Lotto Analytic</h3>
						<p>
							Lotto Analysis is smart strategy that checks for recent numbers that havnt been won yet or numbers that has low frenquensy of winning and will likly be picked in the next lottery
						</p>
						<strong>
							Note: You dont need to understand extactly how the strategy works, we have calculated for you the recommended settings
						</strong>
					</div>
					<div class="cg-md-6  cg-xs-12">
						<h3 class="strategy-title text-center">Settings</h3>
						<form action="" class="widget-form">
							<div class="input-group">
								<div class="cg-xs-12">
									<label for="analytic-depth">Analyses Depth</label>
									<select name="draws-count" id="analytic-depth" class="input-control">
										<option value="3">1 Month</option>
										<option value="3" selected="selected">3 Months - Recommended</option>
										<option value="5">6 Months</option>
									</select>
								</div>
							</div>
							<div class="input-group">
								<div class="cg-xs-12">
									<label for="analytic-depth">Max Analyzed Lotteries</label>
									<select name="draws-count" id="max-analyzed" class="input-control">
										<option value="3">1,000</option>
										<option value="3" selected="selected">3,000 - Recommended</option>
										<option value="5">5,000</option>
									</select>
								</div>
							</div>
							<div class="input-group form-buttons">
								<div class="cg-xs-12">
									<button type="button" class="btn btn-custom1 choose-strategy-btn wide" data-strategy="lotto-analytic">Choose Strategy</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="strategy-box">
				<div class="row">
					<div class="cg-md-6  cg-xs-12">
						<h3 class="strategy-title text-center">Wheeling System</h3>
						<p>
							Wheeling System is smart strategy that uses most common numbers that has won the jackpot including
							an special algoritem which calculate numbers with the best chance of wining in the next lottery
							it uses the lottery date and has special settings to maxmimize chance
						</p>
						<strong>
							Note: You dont need to understand exactly how the strategy works, we have calculated for you the recommended settings
						</strong>
					</div>
					<div class="cg-md-6  cg-xs-12">
						<h3 class="strategy-title text-center">Settings</h3>
						<form action="" class="widget-form">
							<div class="input-group">
								<div class="cg-xs-12">
									<label for="analytic-depth">Depth</label>
									<select name="draws-count" id="analytic-depth" class="input-control">
										<option value="3">1 Month</option>
										<option value="3" selected="selected">3 Months - Recommended</option>
										<option value="5">6 Months</option>
									</select>
								</div>
							</div>
							<div class="input-group">
								<div class="cg-xs-12">
									<label for="analytic-depth">Common Percentage</label>
									<select name="draws-count" id="max-analyzed" class="input-control">
										<option value="3">40%</option>
										<option value="3" selected="selected">60% - Recommended</option>
										<option value="5">80%</option>
									</select>
								</div>
							</div>
							<div class="input-group form-buttons">
								<div class="cg-xs-12">
									<button type="button" class="btn btn-custom1 choose-strategy-btn wide" data-strategy="wheeling-system">Choose Strategy</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="strategy-box">
				<div class="row">
					<div class="cg-md-6  cg-xs-12">
						<h3 class="strategy-title text-center">Birthday</h3>
						<p>
							Birthday strategy is all about luck,
							making picking random personal dates includes our picking algorithm creates your own personal lucky numbers
						</p>
						<strong>
							Note: Your own birthday will also be used to send you gifts in your birthday !
						</strong>
					</div>
					<div class="cg-md-6  cg-xs-12">
						<h3 class="strategy-title text-center">Settings</h3>
						<form action="" class="widget-form">
							<div class="input-group">
								<div class="cg-xs-12">
									<label for="years">Your Birthday</label>
									<div class="row">
										<div class="cg-xs-4">
											<select name="years" id="years" class="input-control">
												<option>Year</option>
											</select>
										</div>
										<div class="cg-xs-4">
											<select name="months" id="months" class="input-control">
												<option>Month</option>
											</select>
										</div>
										<div class="cg-xs-4">
											<select name="days" id="days" class="input-control">
												<option>Day</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="input-group">
								<div class="cg-xs-12">
									<label for="years">Personal Date 1</label>
									<div class="row">
										<div class="cg-xs-4">
											<select name="years" id="years" class="input-control">
												<option>Year</option>
											</select>
										</div>
										<div class="cg-xs-4">
											<select name="months" id="months" class="input-control">
												<option>Month</option>
											</select>
										</div>
										<div class="cg-xs-4">
											<select name="days" id="days" class="input-control">
												<option>Day</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="input-group">
								<div class="cg-xs-12">
									<label for="years">Personal Date 2</label>
									<div class="row">
										<div class="cg-xs-4">
											<select name="years" id="years" class="input-control">
												<option>Year</option>
											</select>
										</div>
										<div class="cg-xs-4">
											<select name="months" id="months" class="input-control">
												<option>Month</option>
											</select>
										</div>
										<div class="cg-xs-4">
											<select name="days" id="days" class="input-control">
												<option>Day</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="input-group form-buttons">
								<div class="cg-xs-12">
									<button type="button" class="btn btn-custom1 choose-strategy-btn wide" data-strategy="wheeling-system">Choose Strategy</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>