.widget-form-container {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 27px;

  .widget-form {
    position: relative;

    button {
      margin-top: 12px;
    }

    .form-loading {
      margin-top: 26px;
    }

    label {
      line-height: 22px;
      font-weight: normal;
      font-size: 14px;
    }

    h3.form-error {
      text-align: center;
      margin: 0;
      background: #AF0505;
      color: #fff;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
    }

    .step-arrow {
      display: block;
      height: 49px;
      margin: 0;
      border-left: none;

      img {
        background: #04214C;
        right: 17px;
        top: 11px;
      }
    }
  }

}