<div class="widget-form-container container-fluid form-1column">
	<form action="" class="widget-form">
		<div class="input-group">
			<div class="cg-xs-12">
				<h3 class="form-error hidden"></h3>
			</div>
		</div>
		<div class="input-group">
			<div class="cg-sm-6 cg-xs-12">
				<label for="first_name">{{= trans('First Name') }}</label>
				<input type="text" name="first_name" class="input-control" placeholder="{{= trans('First Name') }}" id="first_name"/>
			</div>
			<div class="cg-sm-6 cg-xs-12">
				<label for="first_name">{{= trans('Last Name') }}</label>
				<input type="text" name="last_name" class="input-control" placeholder="{{= trans('Last Name') }}"/>
			</div>
		</div>
		<div class="input-group">
			<div class="cg-sm-12 cg-xs-12">
				<label for="first_name">{{= trans('Email') }}</label>
				<input type="text" name="email" class="input-control" placeholder="{{= trans('Email') }}"/>
			</div>
		</div>
		<div class="input-group input-password">
			<div class="cg-sm-12 cg-xs-12">
				<label for="first_name">{{= trans('Password') }}</label>
				<input type="password" name="password" class="input-control" placeholder="{{= trans('Password') }}"/>
			</div>
		</div>
		<div class="input-group">
			<div class="cg-sm-12 cg-xs-12">
				<label for="country">{{= trans('Country') }}</label>
				<select name="country" id="country" class="input-control">

				</select>
			</div>
		</div>
		<div class="input-group">
			<div class="cg-sm-12 cg-xs-12">
				<label for="first_name">{{= trans('Phone') }}</label>
				<input type="text" name="phone" class="input-control" placeholder="{{= trans('Phone') }}"/>
			</div>
			<div class="cg-xs-12">
				<div class="phone-notes hidden">
					Note: Your phone will be used to receive your free ticket
				</div>
			</div>
		</div>
		<div class="input-group form-buttons">
			<div class="cg-sm-12 col-xs-12 text-center">
				<button type="submit" class="btn-custom1">
					{{= trans('Sign up Now') }}
					<span class="step-arrow">
						<img src="http://cdn.jackpotsstrategy.com/widget/images/arrow-big.png" alt=""/>
					</span>
				</button>
			</div>
		</div>
		<div class="input-group form-loading hidden">
			<div class="cg-xs-12">
				<div class="loading-text text-center"><strong>{{= trans('Please Wait') }}</strong> {{= trans('Please wait our system is picking the best lottery provider for you') }}</div>
				<div class="spinner">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>
			</div>
		</div>
	</form>
</div>