<div class="widget-form-container container-fluid">
	<h3 class="step-header"><strong>STEP 1</strong> - Create an Account</h3>
	<form action="" class="widget-form">
		<div class="input-group">
			<div class="cg-xs-12">
				<h3 class="form-error hidden"></h3>
			</div>
		</div>
		<div class="input-group">
			<div class="cg-sm-6 cg-xs-12">
				<label for="first_name">First Name</label>
				<input type="text" name="first_name" class="input-control" placeholder="First Name" id="first_name"/>
			</div>
			<div class="cg-sm-6 cg-xs-12">
				<label for="first_name">Last Name</label>
				<input type="text" name="last_name" class="input-control" placeholder="Last Name"/>
			</div>
		</div>
		<div class="input-group">
			<div class="cg-sm-6 cg-xs-12">
				<label for="first_name">Email</label>
				<input type="text" name="email" class="input-control" placeholder="Email"/>
			</div>
			<div class="cg-sm-6 cg-xs-12">
				<label for="first_name">Password</label>
				<input type="text" name="password" class="input-control" placeholder="Password"/>
			</div>
		</div>
		<div class="input-group">
			<div class="cg-sm-6 cg-xs-12">
				<label for="country">Country</label>
				<select name="country" id="country" class="input-control">

				</select>
			</div>
			<div class="cg-sm-6 cg-xs-12">
				<label for="first_name">Phone</label>
				<input type="text" name="phone" class="input-control"/>
			</div>
		</div>
		<div class="input-group form-buttons">
			<div class="cg-sm-6 cg-sm-offset-3 col-xs-12 text-center">
				<button type="submit" class="btn-custom1 wide">
					Sign up Now
					<span class="step-arrow">
						<img src="http://cdn.jackpotsstrategy.com/widget/images/arrow-big.png" alt=""/>
					</span>
				</button>
				<!--<hr/>-->
				<!--<div class="login-text text-center">Already registered? <a href="">Login Here</a></div>-->
			</div>
		</div>
		<div class="input-group form-loading hidden">
			<div class="cg-xs-12">
				<div class="loading-text text-center"><strong>Please Wait</strong> our system is picking the best lottery provider for you</div>
				<div class="spinner">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>
			</div>
		</div>
	</form>
</div>