<div class="widget-login-container container-fluid">
	<h3 class="step-header"><strong>STEP 1</strong> - Sign In</h3>
	<form action="" class="widget-form">
		<div class="input-group">
			<div class="cg-xs-12">
				<h3 class="form-error hidden"></h3>
			</div>
		</div>
		<div class="input-group">
			<div class="cg-xs-12 cg-sm-offset-3 cg-sm-6">
				<label for="email" class="sr-only">Email</label>
				<input type="text" id="email" name="email" class="input-control" placeholder="Email"/>
			</div>
			<div class="cg-xs-12 cg-sm-offset-3 cg-sm-6">
				<label for="password" class="sr-only">Password</label>
				<input type="password" name="password" id="password" class="input-control" placeholder="Password"/>
			</div>
		</div>
		<div class="input-group form-buttons">
			<div class="cg-sm-6 cg-sm-offset-3 col-xs-12 text-center">
				<button type="submit" class="btn-custom1 wide">
					Sign In
					<span class="step-arrow">
						<img src="http://cdn.jackpotsstrategy.com/widget/images/arrow-big.png" alt=""/>
					</span>
				</button>
				<hr/>
				<div class="register-text text-center">New Customer? <a class="show-form" href="">Register Here</a></div>
			</div>
		</div>
		<div class="input-group form-loading hidden">
			<div class="cg-xs-12">
				<div class="loading-text text-center"><strong>Please Wait</strong> your being logged in..</div>
				<div class="spinner">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>
			</div>
		</div>
	</form>
</div>